/* Cell.module.css */
.cell {
    padding: var(--mantine-spacing-md);
    border: 2px solid var(--mantine-color-grey);
    border-radius: var(--mantine-radius-sm);
    background-color: var(--mantine-color-white);
    transition: background 150ms, border-color 150ms;
    cursor: pointer;
    user-select: none;
}

.cellActive {
    border-color: var(--mantine-color-primary);
    background-color: var(--mantine-color-cellActivePrimary);
}

.cellHover {
    background-color: var(--mantine-color-cellHoverPrimary);
}

.mediaCell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 220px;
    gap: 1.2rem;
    background: var(--mantine-color-backgroundAccent);
    box-shadow: var(--mantine-shadow-sm);
}

/* These are the critical overrides: */
.noBorder {
    border: none !important;
}

.noBackground {
    background-color: transparent !important;
}